//header
//###################################################################################
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header-row1 {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 25px 0;
  background-color: white;
}

.searchText {
  display: flex;
  justify-content: space-between;
  animation: example 0.5s ease-in forwards;

  .input-search {
    width: 90%;
    input {
      width: 100%;
      height: 7rem;
      font-size: 3.2rem;
      border: 1px dotted black;
    }
  }

  @keyframes example {
    from {
      transform: translateY(-150px);
    }
    to {
      transform: translateY(0px);
    }
  }

  .close-bar {
    width: 10%;
    button {
      border: none;
      width: 100%;
      height: 100%;
      cursor: pointer;
      img {
        width: 30%;
        margin: 0 auto;
      }
    }
  }
}

.hide-menu {
  display: none;
}

.show-menu {
  display: initial;
  position: fixed;
  top: 0;
  background: white;
  width: 100%;
  height: 100vh;
  overflow-y: scroll;

  @media only screen and (max-width: (@largestMobileScreen)) {
    overflow-y: hidden;
  }

  .parent {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
  }

  .close-bar-menu {
    margin-left: auto;
    display: flex;
    padding: 20px;
    margin-right: 58px;
    margin-top: 38px;
    border: none;
    background: none;
    cursor: pointer;
  }
  .img-close-bar-menu {
    width: 2rem;
  }
}
.close-menu {
  border-bottom: 0.1rem solid #dedfdf;
}

.nav a {
  width: 100%;
  display: block;
  height: 100%;
  color: #cd2653;
  padding: 2.3rem;
  font-size: 2rem;
  font-weight: 700;

  border-bottom: 0.1rem solid #dedfdf;
}
.nav {
  list-style: none;
}
.nav a:hover {
  text-decoration: underline;
}
.hide-search {
  display: none;
}
.show-search {
  display: initial;
  position: fixed;
  height: 100vh;
  top: 0;
  width: 100%;
}
.row {
  display: flex;

  justify-content: center;
  padding: 80px;

  .icon {
    display: flex;

    gap: 10px;
  }
  a {
    width: 50px;
    height: 50px;
    background-color: #cd2653;
    border-radius: 50%;
    text-align: center;
    margin-top: 35px;
  }
  .sm {
    margin-top: 12px;
  }
  a:hover {
    transform: scale(1.1);
  }
}

.menu-bar-icon {
  border: none;
  background: none;
  cursor: pointer;
}
.search-bar-icon {
  border: none;
  background: none;
  cursor: pointer;
}

.ui.basic.segment.header-wrapper.twenty {
  padding: 25px 0;
  z-index: 10;
  @media only screen and (min-width: (@largestMobileScreen)) {
    flex-flow: column;
    justify-content: center;
    width: 100%;
  }
}
.logo {
  font-size: 2.4rem;
  font-weight: 700;
}
.logo:hover {
  text-decoration: underline;
}

//Footer
//#############################################################################################

.footer-widgets {
  background-color: white;
  color: black;
  display: flex;
  flex-basis: 0;
  gap: 120px;
  // justify-content: space-between;
  padding: 6rem 0;
  border-bottom: 0.1rem solid #dedfdf;

  @media only screen and (max-width: (@largestMobileScreen)) {
    display: flex;
    flex-direction: column;
    gap: 60px;
    padding: 3rem 0;
  }
}
.footer-row1 {
  display: flex;
  border-bottom: 0.1rem solid #dedfdf;
  justify-content: space-between;
  padding: 30px 0;

  .icon {
    display: flex;
    gap: 10px;
  }
  a {
    width: 50px;
    height: 50px;
    background-color: #cd2653;
    border-radius: 50%;
    text-align: center;
  }
  .sm-icon {
    margin-top: 12px;
  }
  a:hover {
    transform: scale(1.1);
  }
}
.footer-low {
  color: #6d6d6d;
}
.footer-low:hover {
  text-decoration: underline;
  cursor: pointer;
}
.footer-h2 {
  font-size: 2.7rem;
  font-weight: 700;
  margin: 0 0 2rem;
}
.strong-footer {
  font-size: 1.3rem;
  font-weight: 700;
}
p {
  line-height: 1.5;
  margin: 0 0 1em 0;
}
.footer-row3 {
  display: flex;
  gap: 50px;
  font-size: 1.8rem;
  padding: 1.3rem;
  align-items: center;
  p {
    margin-bottom: 0px !important;
  }
  .top-btn {
    color: #6d6d6d;
    margin-left: auto;
    border: none;
    background: none;
  }
  .top-btn:hover {
    text-decoration: underline;
    cursor: pointer;
  }
  @media only screen and (max-width: (@largestMobileScreen)) {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 6px;
    padding: 18px 0;
    text-align: center;
  }
}
.year-21 {
  font-weight: 700;
}
.year {
  font-weight: 700;
}
.year:hover {
  cursor: pointer;
  text-decoration: underline;
}
