//header
//###################################################################################
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header-container {
  margin: 0;
}
.header-row1 {
  display: flex;
  font-family: Inter-VariableFont_slnt, wght;
  justify-content: space-between;
  align-items: baseline;
  padding: 25px 0;
  background-color: white;
  //
  margin: 0 40px;
}

.searchText {
  display: flex;
  justify-content: space-between;
  animation: example 0.5s ease-in forwards;

  .input-search {
    width: 90%;
    input {
      width: 100%;
      height: 98px;
      font-size: 45px;
      font-family: Inter-VariableFont_slnt, wght;
      border: 1px dotted black;
      text-indent: 5px;
    }
  }

  @keyframes example {
    from {
      transform: translateY(-150px);
    }
    to {
      transform: translateY(0px);
    }
  }

  .close-bar {
    width: 10%;
    button {
      border: none;
      width: 100%;
      height: 100%;
      cursor: pointer;
      img {
        width: 30%;
        margin: 0 auto;
      }
    }
  }
}

.hide-menu {
  display: none;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: hsla(0deg, 0, 0, 0.2);
}

@keyframes slide-in {
  from {
    transform: translateX(100%);
    transition: transform 400ms;
  }
  to {
    transform: translateX(0%);
    transition: transform 400ms;
  }
}

.show-menu {
  display: initial;
  position: fixed;
  top: 0;
  background: white;
  right: 0;
  width: 330px;
  height: 100vh;
  overflow-y: hidden;
  animation: slide-in 400ms;

  @media only screen and (max-width: 700px) {
    overflow-y: hidden;
    width: 100%;
    right: unset;
    .row {
      display: flex;
      justify-content: center;
      padding: 60px 0;
    }
  }

  .parent {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
  }

  .close-bar-menu {
    margin-left: auto;
    display: flex;
    padding: 20px;
    margin-right: 5px;
    margin-top: 38px;
    border: none;
    background: none;
    cursor: pointer;
  }
  .img-close-bar-menu {
    width: 18px;
  }
}
.header-nav {
  margin: 0 40px;
}
.close-menu {
  border-bottom: 0.1rem solid #dedfdf;
  padding-top: 40px 0;
}

.nav a {
  width: 100%;
  display: block;
  height: 100%;
  color: #cd2653;
  padding: 25px 0;
  font-size: 24px;
  font-weight: 700;
  font-family: Inter-VariableFont_slnt, wght;
  border-bottom: 0.1rem solid #dedfdf;
}
.nav {
  list-style: none;
}
.nav a:hover {
  text-decoration: underline;
}
.hide-search {
  display: none;
}
.show-search {
  display: initial;
  position: fixed;
  height: 100vh;
  top: 0;
  width: 100%;
}
.row-svg-header {
  display: flex;
  padding: 60px 0;

  .icon {
    display: flex;
    gap: 10px;
  }
  a {
    width: 44px;
    height: 44px;
    background-color: #cd2653;
    border-radius: 50%;
    text-align: center;
  }
  .sm {
    margin-top: 10px;
  }
  a:hover {
    transform: scale(1.1);
  }
}

.menu-bar-icon {
  border: none;
  background: none;
  cursor: pointer;
  padding: 0 20px;
  border-right: 0.1rem solid #dedfdf;
  border-left: 0.1rem solid #dedfdf;
}

.search-bar-icon {
  border: none;
  background: none;
  cursor: pointer;
  padding: 0 20px;
}

.ui.basic.segment.header-wrapper.twenty {
  justify-content: space-evenly;
  padding: 20px 0;
  z-index: 10;

  @media only screen and (max-width: 700px) {
    flex-flow: column;
    justify-content: center;
    width: 100%;
  }
}
.logo-header {
  font-size: 24px;
  font-weight: 700;
}
.logo:hover {
  text-decoration: underline;
}

.search-container {
  display: none;
}

.right-side {
  display: flex;
  justify-content: space-between;
  //gap: 40px;

  a.page-link {
    font-size: 18px;
    padding: 0px;
    border-bottom: none;
  }

  .right-side-nav {
    display: flex;

    .nav {
      display: flex;
      gap: 20px;
      padding: 0 20px 0 0;
    }
  }
}
@media (max-width: 700px) {
  .right-side .right-side-nav .nav {
    display: none;
  }
  .search-container {
    display: flex;
    justify-content: space-between;
  }
  .search-container-2 {
    display: none;
  }
  .menu-bar-icon {
    padding: 0;
    border: none;
  }
  .search-bar-icon {
    padding: 0;
  }
}

//Footer
//#############################################################################################
.ui.segment.footer-segment {
  margin-top: 80px;
  padding: 0 0;
}
.ui.basic.segment.footer-segment2 {
  margin: 0;
  padding: 0;
}
.footer-widgets {
  background-color: white;
  color: black;
  display: flex;
  font-family: 'NonBreakingSpaceOverride';
  padding: 80px 0;
  border-bottom: 0.1rem solid #dedfdf;

  @media only screen and (max-width: 700px) {
    display: flex;
    flex-direction: column;
    padding: 48px 0;
  }
}

.footer1 {
  width: 0px;
  flex-grow: 1;
}
.footer2 {
  width: 0px;
  flex-grow: 1;
  margin-left: 60px;
}
@media only screen and (max-width: 700px) {
  .footer1 {
    width: initial;
  }
  .footer2 {
    width: initial;
    margin-left: 0px;
    margin-top: 30px;
  }
}

.footer-row1 {
  display: flex;
  border-bottom: 0.1rem solid #dedfdf;
  justify-content: space-between;
  padding: 30px 0;

  .icon {
    display: flex;
    gap: 10px;
    //font-size: 18px;
  }
  a {
    width: 44px;
    height: 44px;
    background-color: #cd2653;
    border-radius: 50%;
    text-align: center;
  }
  .sm-icon {
    margin-top: 10px;
  }
  a:hover {
    transform: scale(1.1);
  }
}
.footer-low {
  color: #6d6d6d;
}
.footer-low:hover {
  text-decoration: underline;
  cursor: pointer;
}
.footer-h2 {
  font-size: 40px;
  font-weight: 700;
  margin: 0 0 2rem;
}
.strong-footer {
  font-size: 21px;
  font-weight: 700;
}
p {
  font-size: 21px;
  font-family: NonBreakingSpaceOverride;
  line-height: 1.5;
  margin: 0 0 1em 0;
}
@media (max-width: 700px) {
  p {
    font-size: 18px;
    font-family: NonBreakingSpaceOverride;
  }
}

.footer-row3 {
  display: flex;
  font-size: 18px;
  padding: 43px 0;
  font-family: Inter-VariableFont_slnt, wght;
  align-items: baseline;
  justify-content: center;
  // p {
  //   margin-bottom: 0px !important;
  // }
  .top-btn {
    color: #6d6d6d;
    margin-left: auto;
    border: none;
    background: none;
  }
  .top-btn:hover {
    text-decoration: underline;
    cursor: pointer;
  }
  @media (max-width: 700px) {
  }
}

.year-21 {
  margin: 0 0;
  font-weight: 700;
}
.year {
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  gap: 50px;
}
.year-twenty {
  color: black;
}
.year-twenty:hover {
  color: black;
  cursor: pointer;
  text-decoration: underline;
}
.footer-row4 {
  display: none;
  font-size: 16px;
  font-family: Inter-VariableFont_slnt, wght;
  padding: 43px 0;
  align-items: center;

  .top-btn2 {
    color: #6d6d6d;
    margin-left: auto;
    margin-right: 10px;
    border: none;
    background: none;
  }
  .top-btn2:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}
@media (max-width: 700px) {
  .footer-row4 {
    display: flex;
    gap: 30px;
  }
  .footer-row3 {
    display: none;
  }
}

//##########################################################################################
.ui.button.noLink {
  background-color: #cd2653;
  color: white;
  padding: 18.7px 24.48px;
  font-weight: 600;
  font-size: 17px;
  font-family: Inter-VariableFont_slnt, wght;
  text-transform: uppercase;
}
.ui.button.button-container {
  background-color: #cd2653;
  color: white;
  padding: 18.7px 24.48px;
  font-weight: 600;
  font-size: 17px;
  font-family: Inter-VariableFont_slnt, wght;
  text-transform: uppercase;
}
.block-button.align.center {
  text-align: center;
}
.block-button.align.left {
  text-align: left;
}
.block-button.align.right {
  text-align: right;
}
.block-button.align.full {
  width: 100%;
  text-align: center;
  background-color: #cd2653;
}
